
:host {
  display: block;
  background-image: url('/assets/header/bg.jpg');
  width: 1024px;
  height: 459px;
  padding-top: 27px;
}

.bar {
  background: rgba(#050505, .66);
  height: 82px;
  padding-left: 120px;
}

.logo {
  background-image: url('/assets/header/logo.png');
  width: 170px;
  height: 50px;
}

.nav {
  display: block;
}

.link-block {
  display: inline-block;
}
a.link {
  &, &:active, &:visited {
    color: #fefefe;
  }
  &:hover {
    color: #c3a660;
  }
}


